$contactBorderColor: #89bab7;
$BasicColor: #1989fa;
$basicBackground: #f6f6f6;
$fontColorWhirt: #fff;
$fontColorGrey: #81838A;
$InventorFontColor: #666;
$InventorTitleFontColor: #333;
$BackgroundWhirt: #fff;
$BorderColor: #eee;
$InventorTypeBgc: #ddd;
$textareaBgc: #fafafa;
$textareaBorder: #e1e1e1;
$FontColor3: #333;
